/* Desktop */

@media only screen and (min-width: 701px) {
  nav.mobile {
    display: none;
  }
  /* Main */
  /* Section 4 */
  #for-companies-mobile {
    display: none;
  }
}


/* Mobile/Tablet */

@media only screen and (max-width: 700px) {
  /* Header */
  nav.right-section {
    display: none;
  }
  .left-section {
    display: none;
  }
  /* Main */
  /* Section 1 */
  .section1 {
    display: block;
  }
  .section1-left {
    width: 100%;
    padding: 0;
  }
  .section1-right {
    width: 100%;
    margin-top: 32px;
  }
  /* Section 2 */
  
  /* Section 3 */

  /* Section 4 */
  #for-companies {
    display: none;
  }
  /* Footer */
}