/* Section 1 */

.section1-img {
  width: 100%;
}

.section1 {
  display: flex;
  padding-bottom: 34px;
  border-bottom: 2px solid blue;
}

.section1-left {
  width: 60%;
  margin-right: 24px;
}

.section1-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1-right h1 {
  -webkit-text-stroke: 1px blue;
  color: transparent;
}

.section1-right h3 {
  font-weight: 500;
  color: blue;
  margin: 20px 0;
}

button {
  background-color: red;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  color: white;
  height: 40px; /* got confused here, wiring frame says it needs
                  padding top/bot 8px, but the button looks too 
                  thin w/out this */
}

button:hover {
  background-color: transparent;
  color: blue;
  border: 1px solid blue;
  transition: 1s;
}

/* Section 2 */

.section2 {
  display: flex;
  margin-top: 34px;
}

/* left side */

.section2 {
  border-bottom: 2px solid blue;
}

.section2-left {
  width: 60%;
  padding-right: 24px;
}

.section2-left-txt {
  margin-top: 32px;
  margin-bottom: 34px;
}

.section2-left-txt h1 {
  margin-bottom: 24px;
}

.section2-left-txt p {
  margin-bottom: 48px;
  line-height: 30px;
  font-weight: lighter;
  color: blue;
}

.section2-left-txt span {
  font-size: small;
}

.section2-img {
  width: 100%;
}

/* right side */

.section2-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.section2-right-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  border: 1px solid blue;
  margin-bottom: 32px;
  cursor: pointer;
}

.section2-right-container:hover {
  background-color: blue;
  opacity: 0.5;
  transition: 0.5s;
  color: white;
}

.section2-right-img {
  width: 35%;
}

.section2-right-txt {
  margin-left: 16px;
  line-height: 20px;
}

.section2-right-txt a {
  text-decoration: none;
  color: red;
  font-size: small;
}

.section2-right-txt a:hover {
  color: white;
  transition: 0.5s;
}

.section2-right-txt p {
  opacity: 0.7;
  margin: 8px 0;
}

/* Section 3 */

#online {
  text-align: center;
  margin: 34px 0;
}

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 48px;
  margin-right: 48px;
  padding-bottom: 34px;
  gap: 32px;
}

.section3-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  cursor: pointer;
}

.section3-container:hover {
  background-color: blue;
  opacity: 0.5;
  transition: 0.5s;
  color: white;
}

.section3-container-img {
  width: 100%;
}

.section3-container-txt h3 {
  margin: 16px 0px 0px 16px;
}

.section3-container-txt p {
  margin: 8px 0px 24px 16px;
  opacity: 0.7;
}

.section3-container-txt {
  line-height: 25px;

}

.section3-border {
  border-bottom: 2px solid blue;
}

/* Section 4 */

#for-companies {
  text-align: center;
  margin: 34px 0;
}

.section4-final {
  display: flex;
  padding-bottom: 34px;
}

/* left side */

.section4-left-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.section4-left-vid video {
  width: 100%;
}

.section4-left-txt h2 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.section4-left-txt p {
  color: blue;
  line-height: 30px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* right side */

.section4-right-container {
  margin-left: 16px;
}